# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
*.pyc

# Virtual env
.venv/
venv/

# Env files
.env

# Editor / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Test / coverage
.coverage
htmlcov/

# Docker
*.pid

# Dev files
*.egg-info/
